.stateClass{
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
}

.iosClass{
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
}

.countClass{
    position: absolute;
    right: 5%;
    top: 12%;
    font-size: 1.4em;
    font-weight: 600;  
    color: #e9b37a;

}

.nameClass{
    /* position: absolute;
    left: 14%;
    top: 5%; */
    font-size: 1em;
    font-weight: 700;
    color: #000000;
    background: rgba(255,128,1,0.9);
    padding: 3px 6px;
    border-radius: 2px;
}

.re-regist{
    bottom: 10%;
    font-size: 14px;
    /* font-Weight: 600; */
    /* position: absolute; */
    /* z-index: 1; */
    /* top: 11%; */
    /* left: 2%; */
    position: relative;
    left: 50%;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    background: rgb(200 200 200 / 51%);
    transform: translate(-50%, 10px);
    /* background-image: url(../pics/logout4.png); */
    /* background-size: 100%;*/
    justify-content: center;
    align-items: center;
    display: flex;
}

.uuidClass{
    position: absolute;
    right: 2%;
    top: 97%;
    font-size: 10px;
    font-weight: 600;  
    color: #fff;
}

.main4-out{
    position: absolute;
    font-size: 4em;
    font-weight: 900;
    /* background: rgb(204, 204, 203); */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('https://d1xeexhxuygkal.cloudfront.net/pics/out-bg3.png');
    color: #FFF;
}

#main3-canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#testCountButton{
    bottom: 10%;
    font-size: 18px;
    font-Weight: 500;
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 10%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    color: #fff;
    background: #f44336;
}

#iosCheckButton{
    bottom: 10%;
    font-size: 18px;
    font-Weight: 500;
    position: absolute;
    /* z-index: 1; */
    top: 85%;
    left: 10%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    color: #fff;
    background: #5f36f4;
}

#permisionButton{
    font-size: 35px;
    font-Weight: 900;
    position: absolute;
    top: 75%;
    left: 50%;
    width: 50%;
    height: 60px;
    border-radius: 5px;
    border: none;
    color: #000000;
    background: #FF8001;
    transform: translate(-50%, -50%);
}

.main5-win{
    position: absolute;
    font-size: 3em;
    font-weight: 900;
    background-color: rgb(209 197 166 / 75%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#refightButton{
    bottom: 20%;
    font-size: 21px;
    font-Weight: 600;
    position: absolute;
    /* z-index: 1; */
    /* top: 85%; */
    display: flex;
    /* height: 2em; */
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #5f5e5d;
}

#registButton{
    bottom: 8%;
    font-size: 30px;
    font-Weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* z-index: 1; */
    /* top: 85%; */
    display: flex;
    /* height: 2em; */
    padding: 5px;
    width: 120px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: none;
    color: #000000;
    background: #FF8001;
    /* background-image:url('../pics/startButton.png'); */
}

.main1-permision{
    position: absolute;
    font-size: 3em;
    font-weight: 900;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    background-size:100% 100%;
    z-index: 1;
}

.main2-regist{
    z-index: 1;
    position: absolute;
    font-size: 3em;
    font-weight: 900;
    /* background: rgb(204, 204, 203); */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* justify-content: center;
    align-items: center; */
    /* display: flex; */
    /* background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),url('../pics/bg-after.png'); */
    background: url('https://d1xeexhxuygkal.cloudfront.net/pics/bg-after2.jpg');
    
    background-size:100%;
}

.main2-regist #content1{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%,-50%);
    width: 70%;
}

#title01{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%,-50%);
    width: 80%;
}

#modelColor{
    /* justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%; */

    justify-content: center;
    display: flex;
    position: absolute;
    left: 51%;
    top: 47%;
    transform: translate(-50%,-50%);
    width: 76%;
}

#model-bg01{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-52%,-50%);
    width: 85%;
}

#right-button01{
    justify-content: center;
    display: flex;
    position: absolute;
    right: 0.5%;
    top: 47%;
    transform: translate(-52%,-50%);
    width: 12%;
}

#left-button01{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 14%;
    top: 47.5%;
    transform: translate(-52%,-50%);
    width: 13%;
}

.main2-regist #content2{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translate(-50%,-50%);
    width: 70%;
    font-size: 30px;
}


.main2-regist #content3{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 76%;
    /* height: 2em; */
    transform: translate(-50%,-50%);
    width: 50%;
    font-size:20px;
}

.main6-start{
    position: absolute;
    left: 50%;
    top: 44%;
    font-size: 9em;
    font-weight: 900;
    color: #FFF;
    transform: translate(-50%, -50%);
    /* width: 100%; */
}


#title03{
    justify-content: center;
    display: flex;
    position: absolute;
    right: -18%;
    top: 7%;
    transform: translate(-50%,-50%);
    width: 43%;
}

#headicon01{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 7%;
    top: 7%;
    transform: translate(-50%,-50%);
    width: 10%;
}

.nameBox{
    position: absolute;
    left: 14%;
    top: 5%;
    display: grid;
}

.main7-end-out{
    position: absolute;
    font-size: 4em;
    font-weight: 900;
    /* background: rgb(204, 204, 203); */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('https://d1xeexhxuygkal.cloudfront.net/pics/out-bg3.png');
    color: #FFF;
}

#end-out{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 45%;
}

#out-title{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.hideClass{
    display: none;
}

#win01{
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 80%;
}